
body{
	
	font-size: 100%;
	
	background-image:url(../images/food3.jpg) ;
 /*background-repeat: no-repeat;*/

/*background: url("img_tree.png") no-repeat center;*/
    /*margin-right: 200px;*/

}


*{
	box-sizing: border-box;
	}


#header{
	/*background-color: rgb(0, 204, 255);*/
	width: 100%;
	text-align: center;
	font-size: 1.5em; /*As requested in assignmrnt */

	
}

.container{

	width: 100%;
	/*height: 350px;*/
	/*background-color: #fcf;*/
	color:#036;
	padding:2%;
	/*border: 2px solid green;*/
	/*background-image:url(../images/food1.jpg) ;*/
	/*background-color: rgb(255, 204, 255);*/


  /*margin: 30px;*/
  


		
	}
	section
	{
		position: relative;
		font-style: italic;
		font-family: "Times New Roman", Georgia, Serif;
 
}
section:hover{

	 border: 1px solid yellow ;
}


h3{
	margin-bottom: 50px;
	}

span{

	border: 1px solid black;
	padding:2px;
	position:absolute;
	right:0px;
	top:0px;
	text-align: center;
	width: 100px;
	height: 30px;
	font-size: 1.125em; /*-- 75%--*/


}
.span1{

	background-color: olive;
}
.span2{

	background-color: pink;
}

.span3{

	background-color: yellow;
}


h1 {
  color: #800000;
  font-style: italic;
}

.sec1 {
  background-color: #bc1339;
  
   
}
.sec2 {
   background-color: #DEB887;
 
  
}
.sec3 {
  background-color: #5F9EA0;
}

/***********Desktop ***************/
/*----------Greater than 992px ---*/
/**********************************/

@media screen and (min-width: 992px) {
	section{
	width:31% ;
	border:1px solid black;
	margin-right: 1%;
	margin-left: 1%;
	overflow: auto;
	padding: 2%;
	text-align: justify;
	outline-style :groove;
	}
.sec1, .sec2, .sec3 {
   float: left;
   
}

}





/***********Tablet ***************/
/*--------768px - 991px--------- */
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
@media screen and (min-width: 768px) and (max-width: 991px){
	section{
	width:47% ;
	border:1px solid black;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
	overflow: auto;
	padding: 2%;
	text-align: justify;
}

.sec1, .sec2 {
    float: left;
   
}

.sec3 {
    width:96%;
  clear:both;
  }

}






/***********Mobile ***************/
/*--------Less than 767px--------*/
@media  (max-width: 767px){

	section{
	width:80% ;
	border:1px solid black;
	margin-top: 2%;
	margin-bottom: 2%;
	overflow: auto;
	padding-right:2%;
	padding-left: 2%;
	padding: 2%;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
}



